<div class="maincontainer">
    <mat-card>
        <div class="title">Add Appointment</div><br>
        <div class="imgselect">
            <input type="file" id="upload" hidden>
            <img src="../../assets/upload.png">
            <label for="upload">Select file</label>
        </div>
        <div>
            <form>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Doctor">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Date">
                <div class="from-to">
                    <input type="text" placeholder="From">
                    <input type="text" placeholder="To">
                </div>
                <input type="text" placeholder="Number">
                <input type="text" placeholder="Injury">
            </form>
            <div class="registerbtn">
                <button mat-raised-button color="primary" class="a">Cancel</button>
                <button mat-raised-button color="primary" class="b">Add appointment</button>
            </div>
        </div>
    </mat-card>
</div>

