//MainContainer
.maincontainer{
    //border: 10px solid rgb(131, 46, 139) ;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.matcard{
    //border: 2px solid rgb(46, 139, 46) ;
    width: 410px;
  height: 450px;
    padding: 20px 30px;
   
}
.headercontent{
    margin-left:10px;
}
.mattitle{
    font: bolder;
}
//FormCss
.formcontent{
  display: flex;
  flex-direction: column;
 // align-items:center;
  gap: 10px;
  width: 80%;
//  box-shadow: 100px 100px 80px rgba(0, 0, 0, 0.03)
}
.input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  outline: none;
  width: 100%;
  padding: 18px 20px;
  background-color: rgb(233, 230, 230);
  border-radius: 20px;
}
  .input:focus {
    border: 1px solid rgb(23, 111, 211);}

//SwitchPart
  .switch{
    margin-left:5px;
    margin-top: 15px;
  }
  //RegisterButton
  button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #4285F4, #4285F4);
    border-radius: 5px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    margin-left: 5px;
    margin-top: 12px;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    cursor: pointer;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }
   .signin {
    margin-left: 4px;
    margin-top: 8px;
  }
  
  .signin a {
    color: royalblue;
  }
  // @media only screen and (max-width: 800px) {
  //   matcard{
     
      
  //   }
  // }
  
   
  