<div class="maincontainer">
    <mat-card class="matcard">
        <div class="headercontent">
            <mat-card-title class="mattitle">Sign In</mat-card-title>
            <mat-card-subtitle class="matsubtitle"><b>Create Your Account</b></mat-card-subtitle>
        </div>
        <div>
            <form class="formcontent">
                <input type="login" class="input" placeholder="Login">
                <input type="password" class="input" placeholder="Password">
            </form>
        </div>
        <div class="switch">
                <mat-slide-toggle color="primary" class="switch_">Remember Me</mat-slide-toggle>
                <!-- <label for="switch-" (click)="OnMethod()">{{on}}</label> -->
        </div>
        <div class="Regbutton">
            <button>Login</button>
        </div>
        <div class="signin">
            <p class="signin"><a href="#">Forget Password?</a></p>
            <p class="signin">Don't have an account? <a routerLink="../signup">Sign Up!</a></p>
        </div>
    </mat-card>
</div>