<div class="maincontainer">
    <mat-card class="matcard">
        <div class="headercontent">
            <mat-card-title class="mattitle">Sign Up</mat-card-title>
            <mat-card-subtitle class="matsubtitle"><b>Create Your Account</b></mat-card-subtitle>
        </div>
        <div clss="inputfield">
            <form class="form">
                <input type="login" class="input" placeholder="Login">
                <input type="password" class="input" placeholder="Password">
            </form>
        </div>
        <div class="switch">
            <div class="switch_">
                <input type="checkbox" id="switch-">
                <label for="switch-"></label>
            </div>
        </div>
        <div class="Regbutton">
            <button>Login</button>
        </div>
        <div class="signin">
            <p class="signin"><a href="#">Forget Password?</a></p>
            <p class="signin">Don't have an account? <a routerLink="../signup">Sign Up!</a></p>
        </div>
    </mat-card>
</div>