<div class="maincontainer">
    <mat-card class="matcard">
        <div class="headercontent">
            <mat-card-title class="mattitle">Sign Up</mat-card-title>
            <mat-card-subtitle class="matsubtitle"><b>Create Your Account</b></mat-card-subtitle>
        </div>
        <div clss="inputfield">
            <form class="form">
                <input type="name" class="input" placeholder="Name">
                <input type="email" class="input" placeholder="Email">
                <input type="password" class="input" placeholder="Password">
            </form>
        </div>
        <div class="switch">
            <div class="switch_">
                <input type="checkbox" id="switch-">
                <label for="switch-"></label>
            </div>
        </div>
        <div class="Regbutton">
            <button>+ Register</button>
        </div>
        <div class="signin">
            <p class="signin">Have and account?<a routerLink="../login">Sign In</a></p>
        </div>
    </mat-card>
</div>