
.righttool{
    cursor: pointer;
    background: transparent;
    border: #f1f3f4;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
.toolbar{
    background-color: #ffffff;
}
.searchbox{
    margin-top: 20%;
    border: 2px ;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    background: #eeeeee;
    border-radius: 15px;
    width: 450px;
    height: 45px;
    margin-top: 1px;
    margin-left: 80px;
     img{
        margin-right: 10px;
        padding: 10px;
        height: 28px;
        width: 20px;
      }
   
}
.inputsearchbox{
    margin-left: 10px;
    margin-top: 10px;
    height: 15px;
    border: 0px;
    background: none;
    width: 800px;
    font-size: medium;
    outline: none;
    
   
}
.righttool{
    //border: 2px solid red;
    display: flex;
    margin-left: 63%;
    outline: none;
    img{
       // margin-right: 10px;
        padding: 50px;
        height: 28px;
      }
      button{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #f0f0f0;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
      }
}
